*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dashboard-bg-clr: #63C5EA;
    --dashboard-hvr-clr: #4AAED9;
    --search-input-clr: #63C5EA;
    --dashboard-txt-clr: white;
    --dashboard-border-clr: white;
    --profile-info-bg-clr: white;
    --activity-bg-clr: #d3d3d3;
    --btn-color: #4AAED9;
}

.grid-layout {
    background-color: var(--activity-bg-clr);
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 0.7fr repeat(2, 1fr) 0.7fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas:
        "dashboard profile profile profile"
        "dashboard activity activity activity"
        "dashboard activity activity activity";
}

/* DASHBOARD */

.dashboard {
    grid-area: dashboard;
    background-color: var(--dashboard-bg-clr);
    width: 100%;
    height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;

}

.title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 5px;
}

.title-icon {
    width: 50px;
    height: 50px;
}

.svg-icons {
    width: 1.5rem;
    height: 1.5rem;
}

.section-1,
.section-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    gap: 5px;
}


nav {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.5rem;
}


.nav-display {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    padding-left: 5px;

    color: var(--dashboard-txt-clr);

}

.nav-display:hover {
    cursor: pointer;
    padding-left: 5px;
    border-left: 3px solid var(--dashboard-border-clr);

    background-color: var(--dashboard-hvr-clr);
}

/* Profile Section */

.profile-info {
    grid-area: profile;
    background-color: var(--profile-info-bg-clr);
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr;

    grid-template-areas:
        "searchbar upper-pf-info"
        "lower-pf-info lower-pf-info";
}

.search-bar {
    width: 100%;
    grid-area: searchbar;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
    gap: 0.2rem;
    padding-top: 10px;

}

#search {
    border-radius: 20px;
    text-align: center;
    width: 80%;
    font-size: 1.2rem;
    padding: 5px;
    border: none;
    background-color: var(--search-input-clr);
}

#search:focus {
    outline: none;
}

#search-img {
    width: 25px;
    height: 25px;
}

.upper-profile-info {
    grid-area: upper-pf-info;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#bell-ringing {
    width: 25px;
    height: 25px;
}

#otter-pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}

#upper-name {
    font-weight: bold;
    font-size: 1.7rem;
}

.lower-profile-info {
    grid-area: lower-pf-info;
    overflow-y: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.intro-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

#pfp-welcome-section {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}

.welcome {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#welcome-name {
    font-weight: bold;
    font-size: 1.5rem;
}

.button-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;

    padding-right: 50px;
}

.btn-styling {
    padding: 15px;
    background-color: var(--btn-color);
    border: none;
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    font-weight: bold;
}

.btn-styling:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Activity Section*/

.activity-info {
    grid-area: activity;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "projects announcements"
        "projects trending";
    gap: 20px;

    height: calc(100vh - 20vh);
    width: 100%;
    overflow-y: auto;
}

.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
    width: 100%;
    gap: 2px;
}

#project-title {
    display: flex;
    justify-content: flex-start;
}

.projects-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.info-card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border-left: 4px solid #63C5EA;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

}

.announcements {
    grid-area: announcements;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 2px;
    height: 100%;
}

.announcement-card,
.trending-card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.announcement-card> :last-child {
    border: none;
}

.announcement-card {
    gap: 10px;
}

.info-announcement {
    border-bottom: 1px solid gray;
    padding: 10px;
}

.info-announcement>p {
    font-size: 0.7rem;
}

.trending {
    grid-area: trending;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 2px
}

p {
    line-height: 1.5;
}

.trending-pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}

.random-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.subtext {
    font-size: 0.8rem;
}

.person {
    font-weight: bold;
}

.highlight {
    color: #63C5EA;
    cursor: pointer;
}

.highlight:hover {
    text-decoration: underline;
}

.info-card-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.info-card-pic {
    width: 30px;
    height: 30px;
}

.info-card-pic:hover {
    transform: scale(1.1);
    cursor: pointer;
}